

.ios, .md {
page-favorite-book {

ion-item {
            width: 98%;
            margin: 1%;
            padding-left: 10px !important;
           // margin-bottom: 10px;
            background-color: #fff;
            opacity: 1.0;
            font-size: 0.9em;
            transition: 0.2s linear;
        }
 

}
}