
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Book Detail</ion-title>
    	<ion-buttons end>
      <button *ngIf="!mybook" ion-button icon-only (click)="addToFavorite()">
        	<ion-icon name="star"></ion-icon>
  		</button>
	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #323232;">




<ion-card style="background-color: white">
	<ion-card-title  text-center>
		   <strong>{{this.item.title | uppercase}}</strong>
	</ion-card-title>


<img src="{{this.item.photo}}" imageViewer style="margin: auto; margin-top:10px; margin-bottom: 20px; height:200px; width: 200px; "/>
	
	
	

	<ion-grid>
  
	<ion-row>
    <ion-col col-3>
      Status:
    </ion-col>
    <ion-col col-9>
      <strong>{{this.item.status}}</strong>
    </ion-col>
  </ion-row>

	<ion-row>
    <ion-col col-3>
      Price:
    </ion-col>
    <ion-col col-9>
     <strong>RM {{this.item.price}}</strong>
    </ion-col>
  </ion-row>

	<ion-row>
    <ion-col col-3>
      ISBN:
    </ion-col>
    <ion-col col-9>
     <strong>{{this.item.isbn}}</strong>
    </ion-col>
  </ion-row>

	<ion-row>
    <ion-col col-3>
     Author:
    </ion-col>
    <ion-col col-9>
     <strong>{{this.item.author}}</strong>
    </ion-col>
  </ion-row>

	<ion-row>
    <ion-col col-3>
      Category:
    </ion-col>
    <ion-col col-9>
      <strong>{{this.item.category}}</strong>
    </ion-col>
  </ion-row>

	<ion-row>
    <ion-col col-3>
      Posted by:
    </ion-col>
    <ion-col col-9>
      <strong>{{this.item.postedby}}</strong>
    </ion-col>
  </ion-row>

	<ion-row>
    <ion-col col-3>
      Posted on:
    </ion-col>
    <ion-col col-9>
      <strong>{{this.item.postedon | date :'dd.MM.y'}}</strong>
    </ion-col>
  </ion-row>

<ion-row>
  <ion-label stacked color="primary">Details</ion-label>
  <ion-item text-wrap class="detail">
      {{this.item.detail}}
      </ion-item>
</ion-row>

</ion-grid>
</ion-card>

    <ion-fab *ngIf="!mybook" right bottom>
    <button ion-fab color="secondary" (click) = "sendMessage()"><ion-icon name="text"></ion-icon></button>
    </ion-fab>

</ion-content>
