page-book-detail {

.grid{

    margin-bottom: 10px
}

.detail{

    text-align: justify;
    font-weight: bold;
    padding: 0px;
    background-color: white;
}

.toastmessage { 
    
    background-color: red;
}

}
