


.ios, .md {
 
    page-post-book {
 
ion-select{
    max-width: 100%;
}

ion-item {
           
            width: 98%;
            margin: 1%;
            padding-left: 10px !important;
           
            
            background-color: #fff;
           
            opacity: 1.0;
            font-size: 0.9em;
            transition: 0.2s linear;
        }
.col {
    padding: 0px;
} 
 .item:hover{
  background-color: #438891 !important;
}

    
 
}

}