page-my-book-detail {

.grid{

    margin-bottom: 10px
}

.detail{

    text-align: justify;
    font-weight: bold;
    padding: 0px;
}

ion-item {
            
            background-color: #fff;
            opacity: 1.0;
            font-size: 0.9em;
            transition: 0.2s linear;
        }
}
